<br>
<br>

<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>
  <%= form_tag(home_welcome_index_path, :method => :get, :class=> 'genre_filter_styles',  :id => 'genre_filter') do %>
    <%= select_tag :genre, options_for_select(@genres.map {|genre| genre.name}) %>
  <% end %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Image</th>
      <th>Track Id</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>


<h3> normal iteration <h1> 

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.image %></td>
        <td><%= song.track_id %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td> <%= link_to 'Add Song', repost_welcome_path(song), method: :get, class: 'btn btn-success' %>    
        <td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3> iframe iteration </h1> 

 <tbody>
    <% @songs.each do |song| %>
      <div class='row'>
        <div class='col-sm-8'>
          <td><% song.title %></td>
          <td><% song.artist %></td>
          <td><% song.image %></td>
          <td><% song.track_id %></td>
          <br>
            <iframe width="100%" height="150" scrolling="no" frameborder="no" src=" https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= song.track_id %>">
            </iframe>
         </div>
        </div>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>



<h3> alternative iframe iteration with ability to repost</h1> 


<%= link_to 'New Song', new_song_path %>

<% @tracks.each do |track| %>
  <div class='row'>
    <div class='col-sm-8'>
      <iframe width="100%" height="150" scrolling="no" frameborder="no" src=" https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= track.id %>">
      </iframe>
    </div>
    <div class='col-sm-4'>
      Add track #<%= track.id %> to your collection
      <%= form_tag songs_path do %>
        <%= hidden_field_tag 'song[title]', track.title %>
        <%= hidden_field_tag 'song[artist]', track.user.username %>
        <%= hidden_field_tag 'song[image]', track.artwork_url %>
        <%= hidden_field_tag 'song[mp3file]', track.id %>
        <%= submit_tag 'Add This Song', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>
