<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Image</th>
      <th>Mp3file</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.image %></td>
        <td><%= song.mp3file %></td>
        <td><%= link_to 'Show', song %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Song', new_song_path %>

<%- @tracks.each do |track| %>
  <div class='row'>
    <div class='col-sm-8'>
      <iframe width="100%" height="150" scrolling="no" frameborder="no" src=" https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= track.id %>">
      </iframe>
    </div>
    <div class='col-sm-4'>
      Add track #<%= track.id %> to your collection
      <%= form_tag songs_path do %>
        <%= hidden_field_tag 'song[title]', track.title %>
        <%= hidden_field_tag 'song[artist]', track.user.username %>
        <%= hidden_field_tag 'song[image]', track.artwork_url %>
        <%= hidden_field_tag 'song[mp3file]', track.id %>
        <%= submit_tag 'Add This Song', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
<% end %>
