<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>


<ul>
<% @playlist.songs.each do |song| %>
 <li>
<%= song.title %>
</li>
<% end %>
</tr>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
